.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #26273d;
    border-radius: 25px;
    font-family: sans-serif;
    width: fit-content;
    padding: 20px;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}

.timer-button {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    background-color: #26273d;
    border: 1px solid #606170;
    border-radius: 15px;
    padding: 8px 15px;
}

.timer-top-buttom {
    color: #a2a4cb;
    font-size: medium;
}

.timer {
    color: #ffffff;
    font-size: x-large;
}